*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0093E9,#80D0C7);
}

.container{
    max-width: 500px;
    margin: 100px auto;
}

h2{
    text-align: center;
    color: #333;
}

.calculator{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 40px;
}

.input-group{
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
}

.input-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #0093E9;
    cursor: pointer;

}

#result{

    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1 solid #ccc;
    border-radius: 4px;

    
}